{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        {{ range $idx, $_ := (.Paginate (.Data.Pages.GroupByDate "2006") 100).PageGroups }}
        <div class="archive-block {{ if eq $idx 0 }} first-block {{ end }}">
          <div class="archive-year">{{ .Key }}</div>
          <ul class="archive-list">
            {{ range .Pages }}
            <li class="archive-item">
              <a href="{{ .Permalink }}">
                <span class="archive-title">{{ .Title }}</span>
              </a>
                <span class="archive-day">{{ .Date.Format "01-02" }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}


        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
